/* Overlay de pantalla completa */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    z-index: 9999; /* Asegurar que esté por encima de todo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px); /* Efecto borroso moderno */
}

/* Clase de utilidad para ocultar/mostrar usada en JS */
.d-none {
    display: none !important;
}